@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "Dancing Script";
  src: url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap") format("truetype");
}
@font-face {
  font-family: "Lobster";
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap") format("truetype");
}
@font-face {
  font-family: "Barlow";
  src: url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap") format("truetype");
}
@font-face {
  font-family: "Pacifico";
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap") format("truetype");
}
.m-auto {
  margin: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-40 {
  margin-top: 40px;
}

body {
  font-family: "Barlow";
  background: linear-gradient(180deg, #DBF6FF 21.88%, #FEF0FF 100%);
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
.card-header {
  width: 100%;
  position: relative;
  background: linear-gradient(104.77deg, #63B4F6 -5.03%, #C395FB 46.58%, #FFA6CA 98.18%);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  overflow: hidden;
}
.card-header .card-header__bg-birthday {
  width: 100%;
  height: 410px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.card-header .card-header__bg-birthday > img:nth-child(1) {
  -webkit-animation: marquee 5s linear infinite;
          animation: marquee 5s linear infinite;
}
.card-header .card-header__bg-birthday .bg-birthday__group {
  display: flex;
  margin-bottom: 30px;
}
.card-header .card-header__bg-birthday .bg-birthday__group.right-to-left {
  -webkit-animation: scroll-right-left 100s linear infinite;
          animation: scroll-right-left 100s linear infinite;
}
.card-header .card-header__bg-birthday .bg-birthday__group.left-to-right {
  -webkit-animation: scroll-left-right 100s linear infinite;
          animation: scroll-left-right 100s linear infinite;
}
.card-header .card-header__bg-birthday .bg-birthday__group > img {
  height: 40px;
  margin-right: 30px;
}
.card-header .card-header__bg-birthday .large-heading {
  -webkit-animation: scroll-right-left 100s linear infinite;
          animation: scroll-right-left 100s linear infinite;
  height: 200px;
}
.card-header .card-header__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px rgba(162, 0, 65, 0.2);
}
.card-header .card-header__title > h1 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
  -webkit-animation: right_to_left 2s ease;
          animation: right_to_left 2s ease;
  white-space: nowrap;
}
.card-header .card-header__title > p {
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  -webkit-animation: left_to_right 2s ease;
          animation: left_to_right 2s ease;
  margin-bottom: 40px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-header .card-header__title > h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }
  .card-header .card-header__title > p {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
}
.card-header .card-header__avatar {
  position: relative;
  height: 665px;
  background-size: contain;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-header .card-header__avatar > img {
  height: 665px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-header .card-header__avatar {
    width: 100%;
    height: auto;
  }
  .card-header .card-header__avatar > img {
    height: 550px;
  }
}

.swiper {
  width: 400px;
  height: 450px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .swiper {
    margin-bottom: 80px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #f1f1f1;
  border-radius: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(255, 46, 130, 0.4);
}
.swiper-slide > img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 420px;
    overflow: hidden;
  }
  .swiper-wrapper {
    overflow: hidden;
  }
  .swiper-slide > img {
    width: 100%;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.heading-user {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: linear-gradient(104.77deg, #63B4F6 -5.03%, #C395FB 46.58%, #FFA6CA 98.18%);
}
.heading-user h3 {
  color: #FF2E82;
  font-weight: 700;
  font-size: 75px;
  line-height: 90px;
  text-align: center;
}
.heading-user .box-icon__topic {
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #FF2E82;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-user .box-icon__topic svg {
  width: 44px;
  fill: #ffffff;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .heading-user {
    margin-top: 40px;
  }
}
.heading-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FF2E82;
  text-align: center;
  padding: 0 160px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .heading-title {
    padding: 0;
  }
}

.box-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background: #FF2E82;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-icon svg {
  width: 22px;
  fill: #ffffff;
}

.box-character {
  width: 100%;
  height: 210px;
  background: #FFF4FF;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 80px;
}
.box-character.box-character--default {
  background: #fbecf0;
}
.box-character:hover {
  box-shadow: 0px 4px 22px #DE005A;
  background: #fff0f3;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}
.box-character .box-character__box-icon {
  width: 60px;
  height: 60px;
  margin-top: -4vw;
  margin-bottom: 20px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .box-character .box-character__box-icon {
    margin-top: -10vw;
  }
}
.box-character .box-character__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #FF2E82;
  margin-bottom: 20px;
}
.box-character .box-character__description {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #FF2E82;
}

.card-birthday {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(173.17deg, #FB40FF -15.4%, #1A0043 123.63%);
  border-radius: 35px;
  border: 10px solid #ffffff;
  box-shadow: 0px 0px 20px 10px rgba(158, 92, 239, 0.4);
  border-radius: 35px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 80px;
  padding: 35px;
  z-index: 2;
}
.card-birthday .card-birthday__icon {
  width: 45px;
  height: 45px;
  background: #4A00A4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 18px;
}
.card-birthday .card-birthday__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
  margin: auto;
}
.card-birthday .card-birthday__title.card-birthday__title--question {
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 45px;
  line-height: 79px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.card-birthday .card-birthday__title.card-birthday__title--count-down {
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 70px;
  line-height: 100px;
  white-space: nowrap;
  color: #FF8AD0;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-birthday .card-birthday__title.card-birthday__title--count-down {
    display: block;
    white-space: normal;
    font-size: 40px;
    line-height: 80px;
  }
}
.card-birthday .card-birthday__slogan {
  display: inline-block;
  margin: auto;
}

.card-content {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("../img/theme.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 40px 0;
  margin-bottom: 75px;
}
.card-content .card-content__title {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.card-content .card-content__name {
  width: 100%;
  font-weight: 700;
  font-size: 75px;
  line-height: 90px;
  display: inline-block;
  text-align: center;
  color: #FF2E82;
  margin-bottom: 18px;
}
.card-content .card-content__name > small {
  font-size: 38px;
}
.card-content .card-content__slogan {
  width: 100%;
  height: 290px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__slogan {
    width: 100%;
    height: 140px;
  }
}
.card-content .card-content__slogan > img {
  width: 727px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__slogan > img {
    width: 100%;
    height: 140px;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__slogan {
    width: 100%;
    height: 140px;
  }
}
.card-content .card-content__description {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__description {
    flex-direction: column;
  }
}
.card-content .card-content__description .description__date {
  margin-right: 10px;
}
.card-content .card-content__description .description__content {
  color: #ffffff;
}
.card-content .card-content__description .description__content > p {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #FFFFFF;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__description .description__content > p {
    text-align: center;
  }
}
.card-content .card-content__description .description__content .description__content--times {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__description .description__content .description__content--times {
    text-align: center;
  }
}
.card-content .card-content__description .description__content .description__content--times > span {
  color: #FF2E82;
  font-size: 36px;
  font-weight: 600;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .card-content .card-content__description .description__content .description__content--times > span {
    font-size: 40px;
  }
}
.card-content .card-content__welcome {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
.card-content .card-content__welcome > span {
  color: #FF2E82;
  font-size: 36px;
  font-weight: 600;
}

@-webkit-keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(252, 90, 206, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(252, 90, 206, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(252, 90, 206, 0.6);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(252, 90, 206, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(252, 90, 206, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(252, 90, 206, 0.6);
    transform: translatey(0px);
  }
}
@-webkit-keyframes scroll-right-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}
@keyframes scroll-right-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}
@-webkit-keyframes scroll-left-right {
  0% {
    transform: translatex(-144vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scroll-left-right {
  0% {
    transform: translatex(-144vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ff0a54, 0 0 80px #ff0a54, 0 0 90px #ff0a54;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ff0a54, 0 0 80px #ff0a54, 0 0 90px #ff0a54;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}/*# sourceMappingURL=style.css.map */